@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;

}



.main {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #FA2F6C;

}

.heading {
    text-align: center;
    align-self: center;
    margin: 1rem auto;
    font-size: xxx-large;
    font-weight: bolder;
}

.inner-div {
    background-color: #f9c300;
    width: 98vw;
    border-radius: 1rem;
    padding: 3rem 8rem;
    box-shadow: 1rem 1 rem -0.7rem rgba(0, 0, 0, 0.4);
}

.inner-div h2 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-top: 1rem 0 4rem 0;
}

.inner-div li {
    font-size: 2rem;
    margin-top: 1.5rem;
    list-style: none;

}

input:hover {
    cursor: pointer;
}

#submit,
.displayUserScoreButton {
    padding: 1rem 3rem;
    border-style: none;
    outline: none font-size 2rem;
    font-weight: 400;
    display: block;
    margin: auto;
    text-transform: uppercase;
    background-color: palevioletred;
    color: black;
    margin-top: 4rem;

}

#submit:hover {
    background-color: #FA2F6C;
}

#display_score {
    background-color: palevioletred;
    margin-top: 3rem;
    padding: 3rem 4rem;
    box-shadow: 0 1rem 1 rem -0.7rem rgba(0, 0, 0, 0.4);
}

.hideScoreArea {
    display: none;
}

.removeSubmitButton {
    display: none;
}

#progress_bar {
    height: 4rem;
    width: 20rem;
    border: 0.3rem solid black;
}

#progress_bar_full {
    height: 3.4rem;
    background-color: #00EDFE;
    width: 0%;

}